In [1]:
import os
from dotenv import load_dotenv
from datasets import load_dataset

from preprocessing.cleaner import TextCleaner, IndonesianNewsCleaner, FinanceCleaner, CleanerPipeline
from preprocessing.deduplicater import dedup_splits, overlap_counts

from sklearn.model_selection import train_test_split

from preprocessing.dataset import xy_from_df

from news_classification.utils.labels import coerce_labels
from news_classification.models.model import HierarchicalSVMModel
from news_classification.bundler import save_bundle, load_bundle

from pathlib import Path

load_dotenv()

True

In [2]:
HF_DATASET = os.getenv("HF_DATASET")
HF_TOKEN = os.getenv("HF_TOKEN")

ds = load_dataset(HF_DATASET, token=HF_TOKEN)
ds

DatasetDict({
    train: Dataset({
        features: ['label', 'text'],
        num_rows: 11893
    })
    validation: Dataset({
        features: ['label', 'text'],
        num_rows: 4117
    })
    test: Dataset({
        features: ['label', 'text'],
        num_rows: 5097
    })
})

In [3]:
train_df = ds["train"].to_pandas()
val_df = ds["validation"].to_pandas()
test_df = ds["test"].to_pandas()

In [4]:
train_df

       label                                               text
0         16   Anggota parlemen Demokrat mengatakan menindak...
1          9   F1 selalu kesulitan menemukan basis penggemar...
2         15   RATA-RATA SAHAM NIKKEI TOKYO DIBUKA 1,42% PAD...
3         18   $LVS - Las Vegas Sands Memiliki Masalah Penda...
4         14   Pertumbuhan ekonomi China kemungkinan akan te...
...      ...                                                ...
11888      2   Morgan Olson, EAVX memperkenalkan bodi van la...
11889      9   Dari Breakingviews - Krisis properti China me...
11890      2  Energy Vault Mengumumkan Perpanjangan Sukarela...
11891     18   $TNEYF - Tamarack Valley Energy: Pejuang Zama...
11892     18   $INSID: Perdagangan Orang Dalam: pembelian pe...

[11893 rows x 2 columns]

In [5]:
print(overlap_counts(train_df, val_df, test_df, text_col="text", key_fn=TextCleaner.normalize))

{'train_val': 453, 'train_test': 560, 'val_test': 219, 'train': 11001, 'val': 3970, 'test': 4883}

In [6]:
train_df2, val_df2, test_df2, rep = dedup_splits(
    train_df, val_df, test_df,
    text_col="text",
    key_fn=TextCleaner.normalize,
    dedup_within=True,
)

print(overlap_counts(train_df2, val_df2, test_df2, text_col="text", key_fn=TextCleaner.normalize))

{'train_val': 0, 'train_test': 0, 'val_test': 0, 'train': 11001, 'val': 3517, 'test': 4193}

In [7]:
X_train, y_train = xy_from_df(train_df2, "text", "label")
X_val, y_val = xy_from_df(val_df2, "text", "label")
X_test, y_test = xy_from_df(test_df2, "text", "label")

In [8]:
clean_fn = CleanerPipeline((IndonesianNewsCleaner, FinanceCleaner))
model = HierarchicalSVMModel(clean_fn=clean_fn)

In [9]:
model.fit(X_train, y_train, X_val_text=X_val, y_val=y_val, tune=True, refit_on_train_val=True)

val_metrics = model.evaluate(X_val, y_val)
test_metrics = model.evaluate(X_test, y_test)

print("VAL macro_f1:", val_metrics["macro_f1"])
print("TEST macro_f1:", test_metrics["macro_f1"])

[I 2026-01-01 22:35:50,567] A new study created in memory with name: no-name-55afceaa-7ea9-4cc0-9506-15ce59f663f1
[I 2026-01-01 22:35:53,975] Trial 0 finished with value: 0.7885041440135432 and parameters: {'ngram_max': 2, 'min_df': 4, 'max_df': 0.9145789510140103, 'word_max_features': 135000, 'char_max_features': 140000, 'C': 2.217906478283943}. Best is trial 0 with value: 0.7885041440135432.
[I 2026-01-01 22:35:57,333] Trial 1 finished with value: 0.7672121082340875 and parameters: {'ngram_max': 1, 'min_df': 4, 'max_df': 0.9040717841449928, 'word_max_features': 80000, 'char_max_features': 60000, 'C': 3.2069049195101313}. Best is trial 0 with value: 0.7885041440135432.
[I 2026-01-01 22:35:59,755] Trial 2 finished with value: 0.787255306852519 and parameters: {'ngram_max': 1, 'min_df': 4, 'max_df': 0.8788692470541464, 'word_max_features': 135000, 'char_max_features': 220000, 'C': 0.2376093967746241}. Best is trial 0 with value: 0.7885041440135432.
[I 2026-01-01 22:36:02,292] Trial 3 finished with value: 0.7907387291671172 and parameters: {'ngram_max': 1, 'min_df': 3, 'max_df': 0.8680329275191673, 'word_max_features': 245000, 'char_max_features': 60000, 'C': 0.40610742604454214}. Best is trial 3 with value: 0.7907387291671172.
[I 2026-01-01 22:36:04,779] Trial 4 finished with value: 0.7880118742204316 and parameters: {'ngram_max': 1, 'min_df': 4, 'max_df': 0.928111047238403, 'word_max_features': 300000, 'char_max_features': 140000, 'C': 0.40819738776830405}. Best is trial 3 with value: 0.7907387291671172.
[I 2026-01-01 22:36:07,481] Trial 5 finished with value: 0.7947997246728555 and parameters: {'ngram_max': 1, 'min_df': 1, 'max_df': 0.9432023728747906, 'word_max_features': 245000, 'char_max_features': 180000, 'C': 0.7927913921835011}. Best is trial 5 with value: 0.7947997246728555.
[I 2026-01-01 22:36:10,659] Trial 6 finished with value: 0.8022022167838487 and parameters: {'ngram_max': 2, 'min_df': 1, 'max_df': 0.896639069308851, 'word_max_features': 190000, 'char_max_features': 140000, 'C': 0.8259260870699741}. Best is trial 6 with value: 0.8022022167838487.
[I 2026-01-01 22:36:13,509] Trial 7 finished with value: 0.7899437721640277 and parameters: {'ngram_max': 1, 'min_df': 1, 'max_df': 0.9648095590671756, 'word_max_features': 190000, 'char_max_features': 140000, 'C': 1.4249819527868954}. Best is trial 6 with value: 0.8022022167838487.
[I 2026-01-01 22:36:18,651] Trial 8 finished with value: 0.7985054189689944 and parameters: {'ngram_max': 3, 'min_df': 1, 'max_df': 0.9343448881168297, 'word_max_features': 190000, 'char_max_features': 100000, 'C': 3.743798927956439}. Best is trial 6 with value: 0.8022022167838487.
[I 2026-01-01 22:36:21,331] Trial 9 finished with value: 0.7840908617218493 and parameters: {'ngram_max': 1, 'min_df': 4, 'max_df': 0.8609238393892058, 'word_max_features': 190000, 'char_max_features': 140000, 'C': 1.154278312866018}. Best is trial 6 with value: 0.8022022167838487.
[I 2026-01-01 22:36:24,595] Trial 10 finished with value: 0.8005952182303622 and parameters: {'ngram_max': 3, 'min_df': 2, 'max_df': 0.8929393202724782, 'word_max_features': 300000, 'char_max_features': 220000, 'C': 0.7222740978172059}. Best is trial 6 with value: 0.8022022167838487.
[I 2026-01-01 22:36:27,797] Trial 11 finished with value: 0.800600453575386 and parameters: {'ngram_max': 3, 'min_df': 2, 'max_df': 0.8949943370904273, 'word_max_features': 300000, 'char_max_features': 220000, 'C': 0.6506666327958074}. Best is trial 6 with value: 0.8022022167838487.
[I 2026-01-01 22:36:30,641] Trial 12 finished with value: 0.8009695172986808 and parameters: {'ngram_max': 2, 'min_df': 2, 'max_df': 0.8872034102824446, 'word_max_features': 245000, 'char_max_features': 180000, 'C': 0.49826230067372285}. Best is trial 6 with value: 0.8022022167838487.
[I 2026-01-01 22:36:33,456] Trial 13 finished with value: 0.8000985513554626 and parameters: {'ngram_max': 2, 'min_df': 2, 'max_df': 0.8519844429200347, 'word_max_features': 245000, 'char_max_features': 180000, 'C': 0.4152120526286871}. Best is trial 6 with value: 0.8022022167838487.
[I 2026-01-01 22:36:36,182] Trial 14 finished with value: 0.7942117172402123 and parameters: {'ngram_max': 2, 'min_df': 2, 'max_df': 0.8812505189946476, 'word_max_features': 135000, 'char_max_features': 180000, 'C': 0.21105413617922492}. Best is trial 6 with value: 0.8022022167838487.
[I 2026-01-01 22:36:39,334] Trial 15 finished with value: 0.8005481653856877 and parameters: {'ngram_max': 2, 'min_df': 3, 'max_df': 0.9881617873282145, 'word_max_features': 245000, 'char_max_features': 100000, 'C': 1.7888646150095233}. Best is trial 6 with value: 0.8022022167838487.
[I 2026-01-01 22:36:42,036] Trial 16 finished with value: 0.7983659656914233 and parameters: {'ngram_max': 2, 'min_df': 3, 'max_df': 0.9130745859258299, 'word_max_features': 190000, 'char_max_features': 100000, 'C': 0.5307939154554085}. Best is trial 6 with value: 0.8022022167838487.
[I 2026-01-01 22:36:44,604] Trial 17 finished with value: 0.7922329660283878 and parameters: {'ngram_max': 2, 'min_df': 5, 'max_df': 0.881856440115733, 'word_max_features': 80000, 'char_max_features': 180000, 'C': 0.3009781632501066}. Best is trial 6 with value: 0.8022022167838487.
[I 2026-01-01 22:36:48,305] Trial 18 finished with value: 0.8022716797341951 and parameters: {'ngram_max': 3, 'min_df': 1, 'max_df': 0.948909653190269, 'word_max_features': 245000, 'char_max_features': 180000, 'C': 1.0391864973306133}. Best is trial 18 with value: 0.8022716797341951.
[I 2026-01-01 22:36:51,943] Trial 19 finished with value: 0.8050535260240046 and parameters: {'ngram_max': 3, 'min_df': 1, 'max_df': 0.9550456378672522, 'word_max_features': 190000, 'char_max_features': 100000, 'C': 1.0234266273540518}. Best is trial 19 with value: 0.8050535260240046.
[I 2026-01-01 22:36:55,545] Trial 20 finished with value: 0.8008848009526439 and parameters: {'ngram_max': 3, 'min_df': 1, 'max_df': 0.9556112448296383, 'word_max_features': 135000, 'char_max_features': 100000, 'C': 1.1885477698316065}. Best is trial 19 with value: 0.8050535260240046.
[I 2026-01-01 22:36:59,246] Trial 21 finished with value: 0.8036365306987054 and parameters: {'ngram_max': 3, 'min_df': 1, 'max_df': 0.9757342125028082, 'word_max_features': 190000, 'char_max_features': 100000, 'C': 0.8886250618657011}. Best is trial 19 with value: 0.8050535260240046.
[I 2026-01-01 22:37:03,308] Trial 22 finished with value: 0.8003674119596754 and parameters: {'ngram_max': 3, 'min_df': 1, 'max_df': 0.97832164291159, 'word_max_features': 190000, 'char_max_features': 60000, 'C': 1.853884820083307}. Best is trial 19 with value: 0.8050535260240046.
[I 2026-01-01 22:37:06,945] Trial 23 finished with value: 0.8026941413373262 and parameters: {'ngram_max': 3, 'min_df': 1, 'max_df': 0.9608035073691871, 'word_max_features': 245000, 'char_max_features': 100000, 'C': 0.9613445922108962}. Best is trial 19 with value: 0.8050535260240046.
[I 2026-01-01 22:37:10,873] Trial 24 finished with value: 0.7999584828285651 and parameters: {'ngram_max': 3, 'min_df': 2, 'max_df': 0.9688067898538977, 'word_max_features': 190000, 'char_max_features': 100000, 'C': 2.6045753372464095}. Best is trial 19 with value: 0.8050535260240046.

VAL macro_f1: 0.9991087419473604
TEST macro_f1: 0.8058238829216687

In [10]:
res = model.evaluate(X_test, y_test)

display(res["report_df"])
display(res["confusion_df"])
display(res["top_confusions_df"])
print(res["report_text"])

              precision    recall  f1-score      support
0              0.740741  0.634921  0.683761    63.000000
1              0.807229  0.797619  0.802395   168.000000
10             0.750000  0.750000  0.750000    16.000000
11             0.900000  0.900000  0.900000    10.000000
12             0.797980  0.774510  0.786070   102.000000
13             0.830645  0.735714  0.780303   140.000000
14             0.749280  0.771513  0.760234   337.000000
15             0.795276  0.731884  0.762264   138.000000
16             0.913386  0.892308  0.902724   260.000000
17             0.937008  0.850000  0.891386   140.000000
18             0.834131  0.898625  0.865178   582.000000
19             0.834043  0.816667  0.825263   240.000000
2              0.837669  0.858209  0.847815   938.000000
3              0.724138  0.591549  0.651163    71.000000
4              0.932773  0.965217  0.948718   115.000000
5              0.943262  0.933333  0.938272   285.000000
6              0.731481  0.797980  0.763285    99.000000
7              0.915663  0.888889  0.902077   171.000000
8              0.818182  0.627907  0.710526    43.000000
9              0.639286  0.650909  0.645045   275.000000
accuracy       0.827331  0.827331  0.827331     0.827331
macro avg      0.821609  0.793388  0.805824  4193.000000
weighted avg   0.827747  0.827331  0.826746  4193.000000

,0,1,10,11,12,13,14,15,16,17,18,19,2,3,4,5,6,7,8,9
0,40,0,0,0,1,1,2,2,0,0,5,5,4,0,0,0,1,0,0,2
1,0,134,0,0,1,0,16,2,4,0,1,1,2,3,0,0,2,0,1,1
10,0,0,12,0,0,0,0,2,0,0,0,0,0,0,0,1,0,0,1,0
11,0,0,0,9,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
12,0,1,0,0,79,2,2,0,0,0,1,0,8,0,0,0,1,0,0,8
13,0,1,0,1,2,103,0,0,0,0,5,2,22,1,0,0,1,0,0,2
14,1,9,0,0,0,0,260,3,1,0,6,1,20,1,0,0,13,0,0,22
15,0,3,0,0,0,0,9,101,0,0,12,3,3,3,0,0,1,0,2,1
16,0,1,0,0,2,0,4,0,232,1,0,0,7,1,0,0,1,0,0,11
17,0,1,0,0,0,0,1,0,2,119,3,0,12,0,0,0,0,0,0,2
18,2,0,1,0,0,5,2,6,0,0,523,10,13,1,2,4,0,0,0,13
19,4,0,0,0,0,4,5,2,0,2,12,196,8,0,2,1,0,4,0,0
2,4,5,2,0,6,8,8,2,1,3,34,11,805,1,1,3,7,8,0,29
3,2,1,0,0,0,1,1,0,0,0,6,0,14,42,1,0,0,0,0,3
4,0,0,0,0,0,0,0,0,0,0,2,0,1,0,111,1,0,0,0,0
5,0,0,1,0,0,0,0,1,0,0,8,2,2,0,1,266,0,2,0,2
6,0,1,0,0,0,0,9,2,1,0,3,1,1,0,0,0,79,0,1,1
7,0,0,0,0,0,0,2,0,0,0,2,1,7,0,1,6,0,152,0,0
8,1,2,0,0,0,0,4,0,1,0,0,1,1,2,0,0,0,0,27,4
9,0,7,0,0,8,0,22,4,12,2,4,1,30,3,0,0,2,0,1,179

   true pred  count
0     2   18     34
1     9    2     30
2     2    9     29
3     9   14     22
4    13    2     22
5    14    9     22
6    14    2     20
7     1   14     16
8     3    2     14
9    18    2     13
10   14    6     13
11   18    9     13
12   19   18     12
13   15   18     12
14    9   16     12
15   17    2     12
16   16    9     11
17    2   19     11
18   18   19     10
19   14    1      9

              precision    recall  f1-score   support

           0       0.74      0.63      0.68        63
           1       0.81      0.80      0.80       168
          10       0.75      0.75      0.75        16
          11       0.90      0.90      0.90        10
          12       0.80      0.77      0.79       102
          13       0.83      0.74      0.78       140
          14       0.75      0.77      0.76       337
          15       0.80      0.73      0.76       138
          16       0.91      0.89      0.90       260
          17       0.94      0.85      0.89       140
          18       0.83      0.90      0.87       582
          19       0.83      0.82      0.83       240
           2       0.84      0.86      0.85       938
           3       0.72      0.59      0.65        71
           4       0.93      0.97      0.95       115
           5       0.94      0.93      0.94       285
           6       0.73      0.80      0.76        99
           7       0.92      0.89      0.90       171
           8       0.82      0.63      0.71        43
           9       0.64      0.65      0.65       275

    accuracy                           0.83      4193
   macro avg       0.82      0.79      0.81      4193
weighted avg       0.83      0.83      0.83      4193

In [11]:
out_dir = Path("artifacts/indo_finance_v1")

state = model.get_state()

cleaner_meta = {
    "cleaning": {
        "pipeline": ["IndonesianNewsCleaner", "FinanceCleaner"],
        "module": "news_classification.preprocessing.cleaner",
    }
}

save_bundle(
    out_dir,
    preprocessor=model.preprocessor_,
    clf=model.clf_,
    le=model.le_,
    le_aggregate=model.le_aggregate_,
    aggregate_map=model.aggregate_map_,
    best_params=model.best_params,
    val_macro_f1=model.val_macro_f1,
    test_macro_f1=test_metrics["macro_f1"],
    dataset="intanm/indonesian-financial-topic-classification-dataset",
    text_columns=("text",),
    label_column="label",
    extra_meta=cleaner_meta,
)

(WindowsPath('artifacts/indo_finance_v1/bundle.joblib'),
 WindowsPath('artifacts/indo_finance_v1/meta.json'))

In [12]:
payload = load_bundle(out_dir)

clean_fn = CleanerPipeline((IndonesianNewsCleaner, FinanceCleaner))
model2 = HierarchicalSVMModel(clean_fn=clean_fn).from_state(payload)

In [13]:
model2.predict(["Ini adalah berita tentang keuangan dan investasi di Indonesia."])

array(['9'], dtype=object)